add-mood {
  ion-img {
    width: 40px;
    height: 40px;
  }
  [selected=true] {
    border: solid 1px $green-dark;
  }
  [recording=true], [playing=true] {
    color: color($colors, danger)
  }
  [recording=false], [playing=false] {
    color: color($colors, primary)
  }
  h6 {
    text-align: center;
    padding: 0;
  }
}
