<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add mood</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-title> How do you feel today?</ion-title>
  </ion-card-header>
  <ion-list>

    <!-- type title -->
    <ion-item no-lines>
      <ion-label>Title</ion-label>
      <ion-toggle *ngIf="isAvailableRecording() && inputType.title == 'type'" item-end checked="false"
                  (ionChange)="inputType.title = 'record'"></ion-toggle>
      <ion-toggle *ngIf="isAvailableRecording() && inputType.title == 'record'" item-end checked="true"
                  (ionChange)="inputType.title = 'type'"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="inputType.title == 'type'">
      <ion-input placeholder="Enter title here..." [(ngModel)]="title"></ion-input>
    </ion-item>

    <!-- record title -->
    <ion-item *ngIf="inputType.title == 'record'">
      <button ion-button item-left icon-left clear small [attr.recording]="recordingStatus.title"
              class="record-button"
              (click)="record('title')">
        <ion-icon name="mic"></ion-icon>
      </button>
      <ion-label *ngIf="recordingStatus.title == true">Recording ...</ion-label>
      <ion-label *ngIf="recordingStatus.title == false">Not recording ...</ion-label>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Mood</ion-label>
      <ion-toggle *ngIf="isAvailableRecording() && inputType.body == 'type'" item-end checked="false"
                  (ionChange)="inputType.body = 'record'"></ion-toggle>
      <ion-toggle *ngIf="isAvailableRecording() && inputType.body == 'record'" item-end checked="true"
                  (ionChange)="inputType.body = 'type'"></ion-toggle>
    </ion-item>
    <!-- type body -->
    <ion-item no-lines *ngIf="inputType.body == 'type'">
      <ion-textarea placeholder="Enter mood here..." [(ngModel)]="body" rows="6" maxlength="250"></ion-textarea>
    </ion-item>
    <ion-item no-lines *ngIf="inputType.body == 'type'">
      <ion-label item-end>{{body.length}}/250</ion-label>
    </ion-item>

    <!-- record body -->
    <ion-item no-lines *ngIf="inputType.body == 'record'">
      <button ion-button item-left icon-left clear small [attr.recording]="recordingStatus.body"
              class="record-button"
              (click)="record('body')">
        <ion-icon name="mic"></ion-icon>
      </button>
      <ion-label *ngIf="recordingStatus.body == true">Recording ...</ion-label>
      <ion-label *ngIf="recordingStatus.body == false">Not recording ...</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="user.preferences.automaticDetectMood == false">
    <ion-row>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.DEPRESSED ? true : false"
               (click)="selectEmotion(EmotionTypes.DEPRESSED)">
        <img src="assets/img/emotions/depressed.png"/>
      </ion-col>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.SAD ? true : false"
               (click)="selectEmotion(EmotionTypes.SAD)">
        <img src="assets/img/emotions/sad.png"/>
      </ion-col>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.BORED ? true : false"
               (click)="selectEmotion(EmotionTypes.BORED)">
        <img src="assets/img/emotions/bored.png"/>
      </ion-col>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.NEUTRAL ? true : false"
               (click)="selectEmotion(EmotionTypes.NEUTRAL)">
        <img src="assets/img/emotions/neutral.png"/>
      </ion-col>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.HAPPY ? true : false"
               (click)="selectEmotion(EmotionTypes.HAPPY)">
        <img src="assets/img/emotions/happy.png"/>
      </ion-col>
      <ion-col [attr.selected]="selectedEmotion==EmotionTypes.EXCITED ? true : false"
               (click)="selectEmotion(EmotionTypes.EXCITED)">
        <img src="assets/img/emotions/excited.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button class="submit-button"
          [disabled]="body == '' || title == '' || (user.preferences.automaticDetectMood ? false : selectedEmotion == null)"
          (click)="postMood()">
    Submit
  </button>

</ion-content>
