<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add mood</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="padding-top: 30px; text-align: center">
    <ion-title> How do you feel today?</ion-title>
  </div>
  <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    <button ion-button icon-left clear small [attr.recording]="fileStatus.title.recording" (click)="record('title')">
      <ion-icon name="mic"></ion-icon>
    </button>
    <button ion-button icon-left clear small
            disabled="{{fileStatus.title.recording}}"
            [attr.playing]="fileStatus.title.status==MediaSuccessStatus.MEDIA_RUNNING && !fileStatus.title.recording"
            (click)="play('title')">
      <ion-icon name="play"
                *ngIf="fileStatus.title.status!=MediaSuccessStatus.MEDIA_RUNNING || fileStatus.title.recording">
      </ion-icon>
      <ion-icon name="pause"
                *ngIf="fileStatus.title.status==MediaSuccessStatus.MEDIA_RUNNING  && !fileStatus.title.recording">
      </ion-icon>
    </button>
    <ion-item>
      <ion-label floating>Mood</ion-label>
      <ion-textarea [(ngModel)]="body" rows="6" maxlength="250"></ion-textarea>
    </ion-item>
    <ion-item no-lines>
      <ion-label item-right>{{body.length}}/250</ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.HAPPY ? true : false"
                 (click)="selectEmotion(EmotionTypes.HAPPY)">
          <ion-img src="assets/img/emotions/happy.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.SAD ? true : false"
                 (click)="selectEmotion(EmotionTypes.SAD)">
          <ion-img src="assets/img/emotions/sad.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.BORED ? true : false"
                 (click)="selectEmotion(EmotionTypes.BORED)">
          <ion-img src="assets/img/emotions/bored.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.EXCITED ? true : false"
                 (click)="selectEmotion(EmotionTypes.EXCITED)">
          <ion-img src="assets/img/emotions/excited.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.WORRIED ? true : false"
                 (click)="selectEmotion(EmotionTypes.WORRIED)">
          <ion-img src="assets/img/emotions/worried.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.ANGRY ? true : false"
                 (click)="selectEmotion(EmotionTypes.ANGRY)">
          <ion-img src="assets/img/emotions/angry.png"></ion-img>
        </ion-col>
        <ion-col [attr.selected]="selectedEmotion==EmotionTypes.CRYING ? true : false"
                 (click)="selectEmotion(EmotionTypes.CRYING)">
          <ion-img src="assets/img/emotions/crying.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button class="submit-button" [disabled]="body == '' || title == '' || selectedEmotion == null"
            (click)="postMood()">
      Submit
    </button>
  </ion-list>
</ion-content>
