<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <div ion-item text-wrap *ngFor="let item of moods">
      <mood-view
        [mood]="item"
        (notify)="notify($event)"
      ></mood-view>
    </div>
  </ion-list>
  <ion-fab bottom right *ngIf="myUser && myUser.id == userId">
    <button ion-fab (click)="goToAddMood()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
