<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mood list</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list padding>
    <ion-item>
    </ion-item>
    <button ion-item text-wrap *ngFor="let item of moods" (click)="moodClicked($event, item)">
      <mood-view [mood]="item"></mood-view>

    </button>
    <button ion-item text-wrap *ngIf="moods.length == 0">
      There is nothing to show!
    </button>
  </ion-list>
</ion-content>
