// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//
$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//red theme
$red-background: #fff6f6;
$red-light: #e74c3c;
$red-dark: #c0392b;

//blue theme
$blue-background: #f6f6ff;
$blue-light: #3498ca;
$blue-dark: #2980b9;

//purple theme
$purple-background: #f9e5ff;
$purple-light: #9b59b6;
$purple-dark: #8e44ad;
//orange theme
$orange-background: #d3c39b;
$orange-light: #e67e22;
$orange-dark: #d35400;

//yellow theme
$yellow-background: #feffc9;
$yellow-light: #f1c40f;
$yellow-dark: #f39c12;

//green theme
$green-background: #afccb1;
$green-light: #2ecc71;
$green-dark: #27ae60;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes w
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

@import "blue.theme";
@import "green.theme";
@import "red.theme";
@import "yellow.theme";
@import "purple.theme";
@import "orange.theme";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
